.nav-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.nav-button {
    background-color: #8774ff49;
    color: #8774ff;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 20px;
}

.nav-button:hover {
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
}

.container {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap-reverse; */
    /* flex-wrap: wrap; */
    /* gap: 1rem; */
}

.concerning {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex: 1;
}

#notice-board {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 2;
    padding: 1rem;
}

#actual-fixed-posts {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
    padding: 1rem;
}

.notice {
    display: flex;
    /* grid-template-columns: repeat(4, 1fr); */
    align-items: center;
    /* justify-content: space-between; */
    gap: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    flex-wrap: wrap;
}

.sender {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.notice>.message {
    /* grid-column-end: span 2; */
    flex: 2;
}

.status {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: rgb(2, 235, 2);
}

.read {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: rgb(2, 235, 2);
}

.vertical-line {
    border-left: 1px solid #ccc;
    height: 100%;
}

/* on tablets put concerning make .container a column */
@media screen and (max-width: 768px) {
    .notice {
        /* flex-direction: flex-start; */
        flex-direction: column;
        align-items: flex-start;
    }

    .container {
        flex-direction: column;
    }
}