* {
  margin: 0;
  box-shadow: none;
  box-sizing: border-box;
  user-select: none;
}

main {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4rem;
  /* center the grid */
  justify-items: center;
  margin: 0 auto;
  max-width: fit-content;
}

.card {
  position: relative;
  border-radius: 0.5rem;
  padding: 1rem;
  width: 300px;
  height: 150px;
  display: flex;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.info-button {
  position: absolute;
  top: 10px;
  right: 10px;
}

.card .avatar {
  width: 75px;
  /* keep aspect ratio */
  height: 75px;
  margin-right: 1rem;
  border-radius: 50%;
  align-self: center;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  align-self: top;
  justify-self: center;
}

.card .location {
  font-size: 0.75rem;
  color: #666;
  justify-self: center;
}

.card .status {
  font-size: 1.25rem;
  justify-self: center;
}

.checked-in {
  background-color: #e9fcee;
}

.checked-out {
  background-color: #ffe6e6;
}

.checked-in .status {
  color: #56e87f;
}

.checked-out .status {
  color: #ff5656;
}
