.forms-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: space-between;
    /*      T    R   B    L */
    margin: 20px 0px 20px 0px;
    /* GAP BETWEEN INPUTS */
    gap: 1rem;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 2px
}

.forms-input {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 12px 12px;
    box-sizing: border-box;
    width: 100%;
}

.forms-label {
    font-weight: bold;
    margin-left: 1rem;
}

.vertical-line {
    border-left: 5px solid #ccc;
    height: 100%;
    margin: 0px 10px 0px 10px;
}