body {
  margin: 0;
  font-family: Playpen Sans, sans-serif;
}

#header {
  height: 53.33px;
}

#back-icon {
  display: none;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#logout {
  position: absolute;
  background-color: rgba(239, 27, 27, 0.321);
  color: #ff5656;
  font-weight: bold;
  right: 1em;
  transition: all 0.2s ease;
}

#logout:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.buttons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 3fr));
  gap: 20px;
  width: 75vw;
  margin: 0 auto;
}

.buttons button {
  width: calc(100% - 20px); /* Calculate the width with margin */
  margin: 10px 10px;
  color: #fff;
  padding: 75px;
  font-size: x-large;
  font-family: Playpen Sans, sans-serif;
  border-radius: 25px;
  transition: all 0.2s ease;
}

.buttons button:hover {
  cursor: pointer;
  transform: scale(1.05);
}

@media screen and (max-width: 600px) {
  .buttons button {
    width: calc(100% - 10px);
    margin: 0 5px;
  }
}
