<div class="container">
    <h2>Barn 1</h2>
    <div class="forms-container">
        <div class="form-container">
            <label class="forms-label">Fulde navn</label>
            <input class="forms-input" type="text" />
        </div>

        <div class="form-container">
            <label class="forms-label">Klasse</label>
            <div class="dropdown">
                <button class="dropbtn">Dropdown</button>
                <div class="dropdown-content">
                  <a href="#">Link 1</a>
                  <a href="#">Link 2</a>
                  <a href="#">Link 3</a>
                </div>
              </div>
        </div>

        <div class="form-container">
            <label class="forms-label">Fødselsdag</label>
            <input class="forms-input" type="date" name="birthday" />
        </div>
    </div>
</div>