<div class="container">
    <h2>Forælder 1</h2>
    <div class="forms-container">
        <div class="form-container">
            <label class="forms-label">Fulde navn</label>
            <input class="forms-input" type="text" />
        </div>

        <div class="form-container">
            <label class="forms-label">Telefonnummer</label>
            <input class="forms-input" type="text" />
        </div>

        <div class="form-container">
            <label class="forms-label">E-mail</label>
            <input class="forms-input" type="text" />
        </div>
    </div>
</div>