<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='../global.styles.css' />
    <link rel="stylesheet" href="modal.styles.css" />
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet'>
    <title>Modal</title>
</head>

<body>
    <section id="child">
        <!-- Information -->
        <div id="information">
            <div class="profile-container">
                <!-- Image -->
                <div class="avatar-container">
                    <div class="avatar">
                        <img src="/client/assets/avatar-placeholder.png" alt="child image" />
                    </div>
                    <img id="status" src="/client/assets/icons/check.svg" alt="status" />
                </div>

                <!-- Tjek -->
                <button class="tjek-ud-btn">Tjek ud</button>
            </div>

            <!-- Details -->
            <div class="details">
                <!-- Name -->
                <h1>Arne Bjarne</h1>
                <div class="forms-container" id="login-container">
                    <!-- Birthday -->
                    <div class="form-container">
                        <label class="forms-label">Fødselsdag</label>
                        <input class="forms-input" type="text" />
                    </div>

                    <!-- Grade -->
                    <div class="form-container">
                        <label class="forms-label">Klasse</label>
                        <input class="forms-input" type="text" />
                    </div>
                </div>
            </div>
        </div>

        <!-- Notes -->
        <div class="notes-container">
            <h2>Noter</h2>
            <div id="notes">
                k
            </div>
            <button class="add-note-btn">
                Tilføj
            </button>
        </div>
    </section>

    <section class="parents">

    </section>
</body>

</html>