@import url("https://fonts.googleapis.com/css?family=Playpen+Sans");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playpen Sans", sans-serif;
  user-select: none;
}

header {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-bottom: 1px solid #ccc; */
  position: relative;
}

header img {
  width: 3rem;
}

header .logo {
  width: 3rem;
  justify-self: center;
}

header .back-btn {
  position: absolute;
  left: 1rem;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4rem;
  /* center the grid */
  justify-items: center;
  margin: 0 auto;
  max-width: fit-content;
}
.back-btn:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.card {
  border-radius: 0.5rem;
  padding: 1rem;
  width: 300px;
  height: 150px;
  display: flex;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.card .avatar {
  width: 75px;
  /* keep aspect ratio */
  height: 75px;
  margin-right: 1rem;
  border-radius: 50%;
  align-self: center;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  align-self: top;
  justify-self: center;
}

.card .location {
  font-size: 0.75rem;
  color: #666;
  justify-self: center;
}

.card .status {
  font-size: 1.25rem;
  justify-self: center;
}

.checked-in {
  background-color: #fff;
}

.checked-out {
  background-color: #fff;
  opacity: 0.5;
}

.checked-in .status {
  color: #56e87f;
}

.checked-out .status {
  color: #ff5656;
}

.confetti-container {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  z-index: 9999;
  overflow: hidden;
}

/* Confetti */
.confetti {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #f00; /* You can customize the confetti color */
  border-radius: 50%;
  transform-origin: 50% 50%;
  opacity: 0;
  animation: confetti-fall 3s ease-out;
}

@keyframes confetti-fall {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh) rotate(720deg);
    opacity: 0;
  }
}

