@import "../../global.styles.css";

body {
  margin: 0;
  font-family: Playpen Sans, sans-serif;
}

#header {
  height: 53.33px;
}

#back-icon {
  display: none;
}

#logout {
  position: absolute;
  background-color: rgba(239, 27, 27, 0.321);
  color: #ff5656;
  font-weight: bold;
  top: 2em;
  right: 2em;
  transition: all 0.2s ease;
}

#logout:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.buttons {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  width: 75vw;
  margin: 0 auto;
}

.buttons a {
  width: 33%;
  margin: 10px 10px;
  color: #fff;
  padding: 75px;
  font-size: x-large;
  transition: all 0.2s ease;
  text-decoration: none;
  text-align: center;
  border-radius: var(--default-border-radius);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.buttons a:hover {
  cursor: pointer;
  transform: scale(1.05);
}
