<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
            integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
    <link rel='stylesheet' href='../../../../global.styles.css' />
    <link rel="stylesheet" href="student.styles.css" />
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet'>
    <script type="module" src="gui.js" defer></script>
    <title>Elev Oversigt</title>
</head>

<body>
    <div class="header">
        <div id="back-icon" class="header-left">
            <img src="/client/assets/icons/back-icon.svg">
        </div>

        <div id="header-right">
            <!-- <button class="delete-btn">Slet Elev</button>
            <button class="save-btn">Gem</button> -->
        </div>
    </div>

    <div class="sections">

        <div class="child">
            <!-- Information -->
            <div id="information">
                <div class="profile-container">
                    <!-- Image -->
                    <div class="avatar-container">
                        <div class="avatar">
                            <img src="/client/assets/avatar-placeholder.png" alt="child image" />
                        </div>
                        <img id="status" src="/client/assets/icons/check.svg" alt="status" />
                    </div>

                    <!-- Tjek -->
                    <button class="tjek-ud-btn" id="checkInOutBtn">{checkInOut}</button>
                </div>

                <!-- Details -->
                <div class="details">
                    <!-- Name -->
                    <h1 id="name-header">{name}</h1>
                    <div class="forms-container" id="login-container">
                        <!-- Birthday -->
                        <div class="form-container">
                            <label class="forms-label">Fødselsdag</label>
                            <input class="forms-input" type="date" id="birthday" />
                        </div>

                        <!-- Grade -->
                        <div class="form-container">
                            <label class="forms-label">Klasse</label>
                            <input class="forms-input" type="text" id="class" />
                        </div>
                    </div>
                </div>
            </div>

            <!-- Notes -->
            <div class="notes-container">
                <h2>Noter</h2>
                <div id="notes">
                    
                </div>
                <button class="add-note-btn">
                    Tilføj ny note
                </button>
            </div>
            </d>

        </div>

        <div class="horizontal-line"></div>
        <div class="parents">
            <h1>Forældre</h1>

            <div id="parents-container">
            </div>
        </div>
    </div>

    <!-- Modal -->
<div id="note-modal" class="modal">
    <div class="modal-content">
        <span class="close-btn" id="closeBtn">&times;</span>
        <h2>Ny Note</h2>
        
        <!-- Notetitel -->
        <div class="form-container">
            <label class="forms-label" for="note-title">Titel:</label>
            <input class="forms-input" type="text" id="note-title" placeholder="Indtast notetitel">
        </div>

        <!-- Beskrivelse -->
        <div class="form-container">
            <label class="forms-label" for="note-description">Beskrivelse:</label>
            <textarea class="forms-input" id="note-description" placeholder="Indtast notebeskrivelse"></textarea>
        </div>

        <!-- Startdato -->
        <div class="form-container">
            <label class="forms-label" for="start-date">Startdato:</label>
            <input class="forms-input" type="date" id="start-date">
        </div>

        <!-- Slutdato -->
        <div class="form-container">
            <label class="forms-label" for="end-date">Slutdato:</label>
            <input class="forms-input" type="date" id="end-date">
        </div>

        <!-- Gem knap -->
        <div class="form-container">
            <button class="note-save-btn">Gem Note</button>
        </div>
        
    </div>
</div>

</body>

</html>