@import url("https://fonts.googleapis.com/css?family=Playpen+Sans");

:root {
  --default-border-radius: 25px;
  --small-border-radius: 10px;
}

* {
  font-family: "Playpen Sans", sans-serif;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 20px;
  background: transparent;
}

#back-icon:hover {
  cursor: pointer;
  transform: scale(1.05);
}

#logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

h1 {
  margin: 20px 0;
  text-align: center;
}

.forms-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  justify-content: space-between;
  /*      T    R   B    L */
  margin: 20px 0px 20px 0px;
  /* GAP BETWEEN INPUTS */
  gap: 1rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.forms-label {
  font-weight: bold;
  margin-left: 1rem;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  border-radius: var(--small-border-radius);
  border: none;
}

select,
input,
textarea {
  border-radius: var(--small-border-radius);
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  border: 1px solid #ccc;
}

.submit-btn,
.cancel-btn {
  box-sizing: border-box;
  color: white;
  min-width: 130px;
  min-height: 60px;
  font-size: medium;
}

.submit-btn {
  background-color: #4caf50;
}

.cancel-btn {
  background-color: #f44336;
}

.cancel-btn:hover,
.submit-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.cancel-btn:disabled,
.submit-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

#alert {
  display: grid;
  /* Center content */
  place-items: center;
  padding: 0px 40px;
  margin-top: 20px;
  border-radius: 8px;
  margin-inline: 200px;
}

.success {
  background-color: #4caf4f45;
  color: #4bb14e;
}

.error {
  background-color: rgba(239, 27, 27, 0.321);
  color: #ff5656;
}
