@import "../../global.styles.css";

/* center content inside body */
body {
  display: flex;
  flex-direction: column;
  height: 75vh;
  justify-content: center;
  align-items: center;
}

body > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  justify-content: space-between;
  /*      T    R   B    L */
  margin: 20px 0px 20px 0px;
  /* GAP BETWEEN INPUTS */
  gap: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

input {
  border: 1px solid #ccc;
  border-radius: var(--small-border-radius);
  padding: 12px 12px;
  box-sizing: border-box;
  width: 100%;
}

label {
  font-weight: bold;
  margin-left: 1rem;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  min-width: 120px;
  min-height: 50px;
  border: none;
  border-radius: var(--small-border-radius);
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

button:disabled {
  background-color: #87c289;
  cursor: not-allowed;
}

#alert {
  display: grid;
  /* Center content */
  place-items: center;
  padding: 0px 40px;
  margin-top: 20px;
  border-radius: 8px;
  margin-inline: 200px;
  background-color: rgba(239, 27, 27, 0.321);
  color: #ff5656;
}
